{% extends 'home/base.html' %}
{% block page_content %}
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2 style="text-align: center;">DAFTAR JADWAL VAKSIN</h2>

<table>
  <tr>
    <th>No</th>
    <th>Instansi Penyelenggara</th>
    <th>Waktu Pelaksanaan</th>
    <th>Kuota</th>
    <th>Action</th>
  </tr>
  {% for data in datas %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{data.nama_instansi}}</td>
    <td>{{data.tanggal_waktu}}</td>
    <td>{{data.jumlah}}</td>
    <td><a href="{% url 'pengguna:detailJadwalVaksin' data.kode_instansi data.tanggal_waktu %}"  type="button" class="btn btn-primary">Daftar</a></td>
  </tr>

  {% endfor %}
 
</table>

</body>
</html>
{% endblock %}