{% extends 'home/base.html' %}
{% block page_content %}

<!DOCTYPE html>
<html>
<body>

<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2 style="text-align:center;">MASTER INSTANSI</h2>

<table>
  <tr>
    <th>No</th>
    <th>Kode Instansi</th>
    <th>Nama Instansi</th>
    <th>Tindakan</th>
  </tr>
  {% for data in datas %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{data.kode}}</td>
    <td>{{data.nama_instansi}}</td>
    <td><a href="{% url 'adminsatgas:updateInstansiFaskes'%}"  type="button" class="btn btn-primary">Update</button>
        <a href="{% url 'adminsatgas:hapusInstansi' data.kode%}"  type="button" class="btn btn-primary">Delete</button>
        <a href="{% url 'adminsatgas:detailInstansiFaskes' data.kode%}"  type="button" class="btn btn-primary">Detail</button>
    </td>
  </tr>
  {% endfor %}
</table>

</body>
</html>
{% endblock %}
