{% extends 'home/base.html' %}

{% block page_content %}

<body>
    <div style="margin-top: 40px;" class="outer-form container">
        <h2><center>Selamat datang, {{ data.0 }} sebagai Admin Satgas</center></h2>
        <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" >
                  
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Vaksin
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'adminsatgas:daftarPengajuanVaksin' %}">Daftar Pengajuan Vaksin</a>
                            <a class="dropdown-item" href="{% url 'adminsatgas:daftarVaksin' %}">Daftar Vaksin</a>
                            <a class="dropdown-item" href="{% url 'adminsatgas:tambahVaksin' %}">Tambah Vaksin</a>
                            
                        </div>
                    </div>
                </li>
                
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Distribusi
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'adminsatgas:aturDistribusiForm' %}">Atur Distribusi</a>
                            <a class="dropdown-item" href="{% url 'adminsatgas:dataDistribusi' %}">Data Distribusi</a>
                            <!-- <a class="dropdown-item" href="{% url 'adminsatgas:aturDistribusiForm' %}">Atur Distribusi</a> -->
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Instansi
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'adminsatgas:masterInstansi' %}">Master Instansi</a>
                            <a class="dropdown-item" href="{% url 'adminsatgas:tambahInstansi' %}">Tambah Instansi</a>
                        </div>
                    </div>
                  
                </li>

                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Penjadwalan
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'adminsatgas:verifikasiPenjadwalan' %}">Verifikasi Penjadwalan</a>
                        </div>
                    </div>
               
                </li>

                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Tiket
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'adminsatgas:masterStatus' %}">Master Status</a>
                            <a class="dropdown-item" href="{% url 'adminsatgas:pembuatanTiket' %}">Pembuatan Tiket</a>
                        </div>
                    </div>
                  
                </li>

                
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kartu Vaksin
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'pengguna:listKartuVaksin' %}">List Kartu Vaksin</a>
                            
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Tiket Saya
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'pengguna:tiketSaya' %}">Tiket Saya</a>
                        </div>
                    </div>
                  
                </li>

                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Vaksin Saya
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!-- <a class="dropdown-item" href="{% url 'pengguna:daftarVaksin' %}">Daftar Vaksin</a> -->
                            <a class="dropdown-item" href="{% url 'pengguna:jadwalVaksin' %}">Jadwal Vaksin</a>
                        </div>
                    </div>
                </li>
                
              </ul>
            </div>
    </div>
</body>

{% endblock %}

