{% extends 'home/base.html' %}
{% block page_content %}

<!DOCTYPE html>
<html>
<body>

<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2 style="text-align:center;">FORM UPDATE INSTANSI</h2>

<form>
    <p>Kode: D004</p>
    <div class="form-group">
      <label>Nama Instansi</label>
      <input type="text" id="disabledTextInput" class="form-control" value= "PT Sosru" disabled>
  </div>

    <div class="form-group">
      <label>No Telp</label>
      <input type="text" id="disabledTextInput" class="form-control" value= "54321" disabled>
  </div>

    <div class="form-group">
        <label>Kategori Instansi</label>
        {{ form2.kategoriInstansi }}
    </div>

    <div class="form-group">
      <label>Kategori Non Faskes</label>
      {{ form2.kategoriStatusKepemilikan }}
  </div>

    <a href="{% url 'adminsatgas:masterStatus'%}" button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}